<div class="login_section">

<%= form_tag session_path do %>
	<div class="name_section">
		<%= label_tag :name, "Name", :class => 'name_tag' %> 
		<%= text_field_tag :name, "", :class => 'name_field' %>
	</div>
	<div class="password_section">
		<%= label_tag :password, "Password", :class => 'password_tag' %> 
		<%= password_field_tag :password, "", :class => 'password_field' %>
	</div>
	<div class="login_button_section">
		<%= submit_tag 'Login', :class => 'login_button' %>
	</div>
<% end %>

<br/>

<%= link_to 'Create an account', new_user_path, :class => 'create_account' %>

</div>