
<div class="login_section">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
        <% flash.now[:alert] = msg %>
      <% end %>
  <% end %>

	<div class="name_section">
  		<%= f.label :name, "Name", :class => 'name_tag' %>
		<%= f.text_field :name, :class => 'name_field' %>
  	</div>
  	<div class="password_section">
		<%= f.label :password, "Password", :class => 'password_tag' %> 
		<%= f.password_field :password, :class => 'password_field' %>
  	</div>
  	<div class="password_confirmation_section">
		<%= f.label :password_confirmation, "Retype Password", :class => 'password_tag' %> 
		<%= f.password_field :password_confirmation, :class => 'password_field' %>
  	</div>
	<div class="login_button_section">
		<%= f.submit "Join", :class => 'login_button' %>
	</div>
<% end %>

</div>
