<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @segment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @segment.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @segment.thumbnail %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @segment.plan_id %>
</p>

<%= link_to 'Edit', edit_segment_path(@segment) %> |
<%= link_to 'Back', segments_path %>
