<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Name</th>
      <th>Description</th>
      <th>Thumbnail</th>
      <th>Start time</th>
      <th>Stop time</th>
      <th>Day</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.day %></td>
        <td><%= activity.name %></td>
        <td><%= activity.description %></td>
        <td><%= activity.thumbnail %></td>
        <td><%= activity.start_time %></td>
        <td><%= activity.stop_time %></td>
        <td><%= activity.day_id %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
