
<br/>
<div class="new_plan_section">
<br/>

<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
      <% @plan.errors.full_messages.each do |msg| %>
        <% flash.now[:alert] = msg %>
      <% end %>
  <% end %>
  
  	<% seg_count = 0 %>
	<div class="new_plan_header">
  	
  		<div class="title_section">
  			<%= f.label :name, "Plan Title", :class => 'title_tag' %>
			<%= f.text_field :name, :class => 'title_field' %>
  		</div>

  		<div class="description_section">
  			<%= f.label :description, "Description", :class => 'description_tag' %>
			<%= f.text_area :description, :class => 'description_field' %>
  		</div>
  		
  		<div class="type_section">
  			<%= f.label :plan_type, "Plan Type", :class => 'type_tag' %>
  			<%= f.select :plan_type, options_for_select([ "Family with Kids", "Couple Only", "History and Museum Buffs", "Adventure Backpackers" ], "Family with Kids"), {}, :class => 'type_field' %> 
  		</div>

		<%= image_tag Plan::DEFAULT_PLAN_IMAGE, :class => 'plan_thumbnail' %>
   		<%= link_to "Change", "/", :class => 'change_plan_thumbnail' %>

  	</div>
    
	<div class="new_segment_placeholder"></div>
	
	<div class="add_segment_links">
	  	<%= link_to "Add Stay", add_stay_url(:segment_id=>1), :class => "add_stay", :remote => true %>
  		<%= link_to "Add Transportation", add_transport_url(:segment_id=>1), :class => "add_transport", :remote => true %>
  	</div>
  	  	
	<div class="actions">
    	<%= f.submit 'Save', :class => "save_plan_button" %>
    	<%= f.submit 'Skip', :class => "save_plan_button" %>
  	</div>
  	
<% end %>

<br/>
</div>
