
<br/>

<div class="new_plan_section">

<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
      <% @plan.errors.full_messages.each do |msg| %>
        <% flash.now[:alert] = msg %>
      <% end %>
  <% end %>
  
  	<div class="title_section">
  		<%= f.label :name, "Name", :class => 'title_tag' %>
		<%= f.text_field :name, :class => 'title_field' %>
  	</div>

  	<div class="description_section">
  		<%= f.label :description, "Description", :class => 'description_tag' %>
		<%= f.text_area :description, :class => 'description_field' %>
  	</div>

	<div class="thumbnail_section">
    	<%= f.label :thumbnail, :class => 'thumbnail_tag' %>
    	<%= f.text_area :thumbnail, :class => 'thumbnail_field' %>
  	</div>

  	<%= link_to "Add Segment", add_segment_url, :class => "add_segment_link", :remote => true %>

	<div class="actions">
    	<%= f.submit %>
  	</div>
  	
<% end %>

</div>
