$('.add_day[segment_id=<%= params[:segment_id]%>]').replaceWith('\
  	<%= link_to "Add Day", add_day_url(:day_id=>params[:day_id].to_i+1, :segment_id=>params[:segment_id]), :segment_id=>params[:segment_id], :class => "add_day", :remote => :true %> \
')
h = $('.add_segment_section[segment_id=<%= params[:segment_id]%>]').height();
$('.add_segment_section[segment_id=<%= params[:segment_id]%>]').height(h+25);
$('.new_day_placeholder[segment_id=<%= params[:segment_id]%>]').replaceWith('\
		<div day_id=<%=params[:day_id]%> segment_id=<%=params[:segment_id]%> class="day_section"> \
			<%= label_tag :name, "Day "+params[:day_id]+" - " %> \
			<%= text_field_tag "segments["+params[:segment_id].to_s+"][days]["+params[:day_id].to_s+"]", "", :class=>"day_description" %> \
			<%= link_to "X", delete_day_url(:day_id=>params[:day_id], :segment_id=>params[:segment_id]), :class => "delete_day", :remote => true %> \
		</div> \
		<div class="new_day_placeholder" segment_id="<%=params[:segment_id]%>"></div> \
')
