$('.new_segment_placeholder').replaceWith('\
	<br/> \
	<div class="add_segment_section"> \
		<div class="segment_title_section"> \
			<%= label_tag :name, "Segment Title", :class => "title_tag" %> \
			<%= text_field_tag "segments["+params[:count]+"][title]", "", :class => "title_field" %> \
		</div> \
		<div class="segment_description_section"> \
			<%= label_tag :description, "Description", :class => "description_tag" %> \
			<textarea name=<%="segments["+params[:count]+"][description]"%> class="description_field"></textarea> \
		</div> \
		<%= image_tag(Plan::DEFAULT_SEGMENT_IMAGE, :class => "segment_thumbnail") %> \
		<%= link_to "Change", "/", :class => "change_segment_thumbnail" %> \
	</div> \
	<div class="new_segment_placeholder"></div>\
')
$('.add_segment_link').replaceWith('\
  	<%= link_to "Add Segment", add_segment_url(:count=>params[:count].to_i+1), :class => "add_segment_link", :remote => true %> \
')