h = $('.add_segment_section[segment_id=<%= params[:segment_id]%>]').height();
$('.add_segment_section[segment_id=<%= params[:segment_id]%>]').height(h+25);
$('.add_day[segment_id=<%= params[:segment_id]%>]').replaceWith('\
		<div day_id=<%=params[:day_id]%> segment_id=<%=params[:segment_id]%> class="day_section"> \
			<%= label_tag :name, "Day "+params[:day_id]+" - " %> \
			<%= text_field_tag "day", "", :class=>"day_description" %> \
		</div> \
	<%= link_to "Add Day", add_day_url(:day_id=>params[:day_id].to_i+1, :segment_id=>params[:segment_id]), :segment_id=>params[:segment_id], :class => "add_day", :remote => :true %> \
')
