
	<br/>

	<div class="plan_heading"> Your Plans: </div>
	<br/>

    <% current_user.plans.each do |plan| %>
    
 		<div class="plan">   

			<div class="plan_desc"> 
				<div class="plan_title"> <%= plan.name %> </div> 
				<br/> <br/>
				<div class="plan_text"> <%= plan.description %> </div> 
			</div> 
			<div class="plan_pictures"> 
				<% plan.segments.each do |segment| %>
					<%= image_tag(segment.thumbnail, :class => "plan_img") %>
				<% end %>
 			</div> 
        	<%= link_to 'Show', plan, :class => "plan_show" %>
     		<%= link_to 'Edit', edit_plan_path(plan), :class => "plan_edit"%>
        	<%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' }, :class => "plan_destroy" %>
        	
   		</div>    

        <br/>

    <% end %>




