<p id="notice"><%= notice %></p>


	<div class="plan_heading"> Your Plan: <%= @plan.description %> </div>
	<br/>

    <% @plan.segments.each do |segment| %>
    
		<div class="segment">
			<%= image_tag(segment.thumbnail, :class => "segment_img") %>	
			<div class="segment_desc"> 
				<div class="segment_title"> <%= segment.name %> </div> 
				<br/> <br/>
				<div class="segment_text"> <%= segment.description %> </div> 
			</div> 
			<%= link_to 'Day by Day', segment, :class => "segment_show", :segment_place => 2, :remote => :true %>
		</div>    
        <br/>

    <% end %>
