
	<br/>

	<div class="plan_heading"> Your Plan: <%= @plan.description %> </div>
	<br/>

    <% @plan.segments.each do |segment| %>
    
		<div class="segment" draggable = "true">
			<%= image_tag(segment.get_thumbnail, :class => "segment_img") %>	
			<div class="segment_desc"> 
				<div class="segment_title"> <%= segment.get_name %> </div> 
				<br/> <br/>
				<div class="segment_text"> <%= segment.get_description %> </div> 
			</div> 
			<%= link_to 'Day by Day', daybyday_url(:id => segment.orig_segment_id), :class => "segment_show", :remote => :true %>
			<%= link_to 'Delete', segment, method: :delete, :class => "segment_delete", data: { confirm: 'Are you sure?' } %>
			<%= link_to 'Swap', choose_url(:segment_id => segment.id, :plan_id => @plan.id), :class => "segment_swap"%>			
		</div>    

        <br/>

    <% end %>
