<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plan.description %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @plan.thumbnail %>
</p>

<p>
  <strong>Orig plan:</strong>
  <%= @plan.orig_plan_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @plan.user_id %>
</p>

<table>
  <tbody>
    <% @plan.segments.each do |segment| %>
    
		<div class="segment">
			<img class="segment_img" src="/images/italy.jpg"> </img> 
			<div class="segment_desc"> <%= segment.description %></div> 
			<div class="segment_show"> <%= link_to 'Show', segment %></div>
		</div>    
        <br/>
    
    <% end %>
  </tbody> 
</table>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
