<p id="notice"><%= notice %></p>


<div class="plan_heading"> Your Plan: <%= @plan.description %> </div>
<br/>
<table>
  <tbody>
    <% @plan.segments.each do |segment| %>
    
		<div class="segment">
			<%= image_tag(segment.thumbnail, :class => "segment_img") %>	
			<div class="segment_desc"> 
				<div class="segment_title"> <%= segment.name %> </div> 
				<br/> <br/>
				<%= segment.description %>
			</div> 
			<div class="segment_show"> <%= link_to 'Show', segment %></div>
		</div>    
        <br/>
    
    <% end %>
  </tbody> 
</table>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
