<div class="bigbox_header">

	<div class="logo"><a href="/"><img class="logo_img" src="/images/planminetoo_logo.jpg"></img></a></div>
	
	<div class="access">
		<ul id="access_menu">
			<% if signed_in? %>
				<% if current_user.profile.first_name %>
					<li>Welcome <%= current_user.profile.first_name %>! </li>
				<% else %>
					<li>Welcome <%= current_user.name %>!</li>
				<% end %>
				<li> <%= link_to 'Sign Out', logout_path,  method: "delete" %></li>
			<% else %>
				<% if (controller != 'sessions') && (request.path != login_path) %>
					<li><%= link_to('Login', new_session_path) %></li> 
					<li><%= link_to 'Register', new_user_path %> </li>
				<% end %>
			<% end %>
			<li><a href="/">How it Works</a></li>
			<li><a id="access_button" href="/">Share your Trip!</a></li>
		</ul>
	</div>
	
	<div class="notification">				
	    <% flash.each do |key, value| %>
    	    <div class="flash_<%= key %>"><%= value %></div>
	    <% end %>
	</div>
	
	<div class="navigation">
		<ul id="navigation_menu">
			<% if signed_in? %>
			<li><a class="navigation_item" href="/">Home</a></li>
			<li><a class="navigation_item" href="/plans">Plans</a></li>
			<li><a class="navigation_item" href="/">Network</a></li>
			<li><a class="navigation_item" href="/">Ideas</a></li>
			<li><a class="navigation_item" href="/profiles/<%= current_user.profile.id %>">Account</a></li>
			<% end %>
		</ul>	
	</div>
	
</div> 